
/* .backgroud ul{
  display: flex;
  flex-direction: column;
  padding: 0;
} */
.controlButton{  
    font-size: 2rem;
    color: #666;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 1rem;
  }



.section h1{
  font-size: 1.825rem;
  color: #666;
  margin-bottom: 3rem;
}
.header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 0;
  z-index: 10;
  border: 1px solid #eee;
}
.header{
 
  padding: .5rem 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem;
}
.section{
  width: 100%;
  max-height:500px;
  padding:  2rem 1rem ;
  align-self: center;
}
.section.choose{ 
  background: linear-gradient(to bottom right, #ffaacf 0%, #e5c986 50%);
}
.section.train{ 
  background: linear-gradient(to bottom right, #dd7edd 0%, #f392bc 60%);
}
.section.create{  
  background: linear-gradient(to bottom right, #9bdbca 0%, #fade9b 80%);
}