.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
  grid-row: 1/3;
  gap: 1rem;
}
.form textarea{
  position: relative;
  grid-row: 1/2;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  line-height: normal;
  font-family: 'Poppins' 'sans-serif';
}
.questionBox{
  display: flex;
  position: relative;
}


.answersBox{
  display: flex;
  flex-direction: column;
  grid-area: 1/1;
  grid-row: 1 / 3;
  gap: 1rem;
}
.answersBox li{
  display: flex;
  position: relative;
}
.answersBox li span,.questionBox span{
  position: absolute;
  border-radius: 2px;
  background-color:#eee;
  padding:0 .2rem;
  color: #666;
  right: 3px;
  top: 3px;
  font-size: .6rem;
}
.buttonsBox{
  grid-area: 1/2;
  grid-row: 2/3;
  height: 100%;
}
@media (max-width:720px) {
  .form{    
    grid-template-columns: 1fr;    
    
  }
  .answersBox{   
    grid-area: initial;
    grid-row:initial;
    gap: .5rem;
  
  }
  .question{
    grid-area:initial;
  }
  .buttonsBox{
    grid-area:initial;
    grid-row: initial;
  }

  
}