

body{
  background: linear-gradient(to bottom right, #EA8FEA, #B9F3E4);

}
.section{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: 80vh;
  padding:  2rem 1rem ;
}
 
.controlsBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items:center;
  align-items: center;
  padding-top: 1rem;
  border-top:2px solid  rgba(0, 0, 0, 0.2) ;
  padding: 1rem 0 0 0 ;
}
.controlButton:hover{
  color: #444;
  background-color: #eef;

}
h1{
  font-size: 1.825rem;
  color: #666;
  margin-left: 1rem;
}
