.section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column: 1/-1;
  gap: 1rem;
  overflow-x: hidden;
}
.answerBox{
  display: flex;
  position: relative;
  flex-direction: column;
  grid-area: 1/1;
  grid-row: 1 / 4;
  gap: 1rem;
  height: 100%;
}
.question{
  grid-area: 1/2;
  height: 100%;
  position: relative;
}
.boxButtons{
  grid-area: 1/2;
  grid-row: 2/4;
  /* gap: ; */
  height: 100%;
}
@media (max-width:720px) {
  .section{    
    grid-template-columns: 1fr; 
    align-content: space-around;      
    height: 100%;
  }
  .answerBox{   
    grid-area: initial;
    grid-row:initial;
    grid-row:2;
    gap: .5rem;  
  }
  .question{
    grid-area:initial;
    grid-row: initial;
    height: 100%;
   
  }
  .boxButtons{
    grid-area:initial;
    grid-row: initial;
  }

  
}

