


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
ul{
  list-style: none; 
}
.material-symbols-outlined{
  font-size: 1.9em;
  color: #666;
 }
 .App{
  max-width: 800px;
  margin:  auto;
  font-family: 'Poppins', sans-serif;
  display: flex;
  height: 100vh;
 }
