.radio{
 display: none;
}
.text:has(input[type="radio"]:checked){
  /* color: #444; */
  font-weight: 600;
  user-select: none;
  background-color: #eee;
}
.text{
  user-select: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 16px;
  margin-bottom: 1rem;
  width: 300px;
  color: #444;
 
}
.questBox h1:first-child{
  align-self: end;
}
.questBox{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid #444;
  margin: 2rem;
  border-radius: 16px;

}
button:disabled{
 opacity: .5;
}
button{
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid #444;
  background-color: #eee;
  border-radius: 16px;
  color: #444;

}
.text.yes:has(input[type="radio"]:checked){
  background-color:green;
  color: #fff;
  
}
.text.no:has(input[type="radio"]:checked){
  background-color:red;
  color: #fff;
  
}

