
  

.linkButton_1, .answerInput,.answerEditInput{
  font-size: 1rem;  
  display: block; 
  border-radius: 10px;
  width: 100%;
  line-height: 1.3;
}
.answerInput.answerEditInput{
  border: solid 4px transparent;
  user-select: none;  
  outline: none;
}
.answerInput:has(input[type="radio"]:checked){
  color: #e0a927 ;
  font-weight: 600;
  user-select: none;
  background-color: #ffe9b7;
  border: solid 2px #e0a927 ;
}
.answerInput.correct:has(input[type="radio"]:checked){
  background-color:green;
  color: #fff;
  
}
.answerInput.wrong:has(input[type="radio"]:checked){
  background-color:red;
  color: #fff;  
}

.linkButton_1, .answerInput, .linkButton_3,.answerEditInput{
color: #666;
display: flex;
flex-direction: column;
justify-content: center;
border-radius: 4px;
padding: 0 1rem;
min-height: 57px;
background-color: #fff;
box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
font-family: 'Poppins', sans-serif;
border: 2px solid transparent ;
outline: none;
}
.linkButton_1{
  align-items: center;
}

.linkButton_1:hover, .answerInput:hover, .linkButton_3:hover, .navButton:hover,.answerEditInput:hover{
  background-color:rgba(255, 255, 255, 0.8);
  color: #333;
  border: 2px solid rgba(0, 0, 0, 0.2) ;
}

.linkButton_3{
  font-size: .7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  height: 100px;
  text-align: center;
  width: 100%;
}
.navButton_2{
  padding: .5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.baseGlass h1{
  font-size: 1rem;
}
.baseGlass{
  padding:  1rem;
  border-radius: 10px;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  height:360px;  
}
.themeList{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  grid-column: 1/-1;
  height: 230px;
  max-height: 100%;
  gap: 1rem;
}


.textBlock, .questionEdit{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #666;
  border-radius: 10px;
  padding:1rem;
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 200px;
  width: 100%;
  outline: none;
  display: flex;
  align-items: center;
}
.navButton:disabled{
  opacity: .5;
  border: none
}
.navButton{
  font-size: 1rem; 
  font-weight: 600;
  width: 100%;  
  text-align: center;
  color: #666;
  padding: 0 1rem;
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  border: 2px solid transparent ;
  border-radius: 4px;
  outline: none;
  min-height: 57px;
  cursor: pointer;
}
.answerInput {
  position: relative;
  transition: left 0.3s ease, opacity 0.3s ease ;
  opacity: 0;  
  left: -150px;
}

.answerInput.active {
  transition-delay:  calc(.12s * var(--i));  
  opacity: 1;
  left: 0;
}

.answerInput:not(.active) {
  transition-delay:  calc(.12s * var(--i));  
  opacity: 0;  
  left: -150px;
}
.textBlock {
  position: relative;
  transition:  0.3s  ;
  opacity: 0;  
  scale:  .9;
}

.textBlock.active {
  transition-delay:  .3s ;  
  opacity: 1;
  scale:  1;
}

.textBlock:not(.active) {
  transition-delay:  .2s  ;  
  opacity: 0;  
  scale:  .9;
}


::-webkit-scrollbar {
  width: 0.5rem; 
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}
@media (max-width:720px) {

  .baseGlass{
    padding:  1rem;
    border-radius: 10px;
    gap: 1rem;
    grid-template-columns: 1fr;
    height:100%;  
  }
  .themeList{     
    height:70vh;
    max-height: 100%;
    gap: .5rem;
  }  
}

@media (max-width:400px) {
  .answerInput{
    font-size: .8rem;
  }
}