
  

.linkButton_1, .answerInput,.answerEditInput{
  font-size: 1rem;  
  display: block; 
  border-radius: 10px;
  width: 100%;
}
.answerInput.answerEditInput{
  border: solid 4px transparent;
  user-select: none;  
  outline: none;
}
.answerInput:has(input[type="radio"]:checked){
  color: #e0a927 ;
  font-weight: 600;
  user-select: none;
  background-color: #ffe9b7;
  border: solid 2px #e0a927 ;
}
.answerInput.correct:has(input[type="radio"]:checked){
  background-color:green;
  color: #fff;
  
}
.answerInput.wrong:has(input[type="radio"]:checked){
  background-color:red;
  color: #fff;  
}

.linkButton_1, .answerInput, .linkButton_3,.answerEditInput{
color: #666;
display: flex;
flex-direction: column;
justify-content: center;
border-radius: 4px;
padding: 0 1rem;
min-height: 57px;
background-color: #fff;
box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
font-family: 'Poppins', sans-serif;
border: 2px solid transparent ;
outline: none;
}
.linkButton_1{
  align-items: center;
}

.linkButton_1:hover, .answerInput:hover, .linkButton_3:hover, .navButton:hover,.answerEditInput:hover{
  background-color:rgba(255, 255, 255, 0.8);
  color: #333;
  border: 2px solid rgba(0, 0, 0, 0.2) ;
}

.linkButton_3{
  font-size: .7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  height: 100px;
  text-align: center;
  width: 100%;
}
.navButton_2{
  padding: .5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.baseGlass h1{
  font-size: 1rem;
}
.baseGlass{
  /* position: relative; */
  padding:  1rem;
  border-radius: 20px;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  height:360px;  
}
.themeList{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  grid-column: 1/-1;
  padding-right: 1rem;
  height: 300px;
  max-height: 100%;
  gap: 1rem;
}
.themeList li{
  position: relative;
  display: block;

}

.textBlock, .questionEdit{
  font-size: 1rem;
  color: #666;
  border-radius: 10px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 200px;
  width: 100%;
  outline: none;
  display: flex;
  align-items: center;
}
.navButton:disabled{
  opacity: .5;
  border: none
}
.navButton{
  font-size: 1rem; 
  font-weight: 600;
  width: 100%;  
  text-align: center;
  color: #666;
  padding: 0 1rem;
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  border: 2px solid transparent ;
  border-radius: 4px;
  outline: none;
  min-height: 57px;
}


::-webkit-scrollbar {
  width: 0.5rem; /* Largura da barra de rolagem */
  background-color: transparent; /* Cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Cor do "polegar" da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Cor da trilha da barra de rolagem */
}
